@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-family: "MaplestoryOTFBold";
}

.background {
  background-image: url("https://mblogthumb-phinf.pstatic.net/20140608_176/monhog_1402164204467rvtNT_PNG/%C7%EC%B3%D7%BE%EE%B6%B2%C1%FD.png?type=w2");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow-y: hidden;
}

h1 {
  text-align: center;
  font-size: 50px;
  padding-top: 20px;
}

.main {
  background-image: url("../public/img/main.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  margin-top: 30%;
  height: 100vh;
  text-align: center;
}
@media screen and (min-width: 464px) {
  .main {
    background-image: url("../public/img/main.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 800px;
    margin-top: 30px;
    height: 100vh;
    text-align: center;
  }
}

@media screen and (max-width: 464px) {
  .ment {
    padding: 30px 25px;
  }
  .ment * {
    font-family: "DungGeunMo";
    text-align: left;
    margin-bottom: 5px;
  }
  .user_input {
    margin-top: 20px;
    padding: 5px;
  }

  .btn {
    background-color: #bbee00;
    color: white;
    text-shadow: -1px 0 #669900, 0 1px #669900, 1px 0 #669900, 0 -1px #669900;
    border: 1px solid #a7d501;
    border-radius: 5px;
    padding: 4px;
    font-size: 10px;
  }
  .btn2 {
    background-color: #e34b4b;
    color: white;
    text-shadow: -1px 0 #911515, 0 1px #911515, 1px 0 #911515, 0 -1px #911515;
    border: 1px solid #d53939;
    border-radius: 5px;
    padding: 4px;
    font-size: 10px;
  }
}
